body{
    margin:0;
    background-color: #90AB8B;

}
.app-heading{

    color:#3B4953;
    margin-top:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.app-subheading{
    
    color:#5A7863;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.highlighted-text{
    font-weight: bold;
    color: #3B4953;
}
.task-list{
    margin: 30px auto;
    width: 500px;
    height: 60vh;
    overflow-y: auto;
    display: block;
    padding-right: 8px;
    box-sizing: border-box;

}
.input-section{
    margin: 100px auto 0;
    background-color:#5A7863 ;
    padding: 20px 40px;
    border-radius: 8px;
    width: 500px;    
} 
