
body{
    font-family:cursive;
    background-color: #A3B087;
    margin: 0;
    padding: 0;
}
.title{
    font-size: 2em;
    color: #313647;
    text-align: center;
    margin-top: 20px;
}
.description{
    font-size: 1.2em;
    color: #435663;
    text-align: center;
    margin-bottom: 20px;
}
.input-container{
    width: 300px;
    margin: 0 auto;    
    background-color: #FFF8D4;   
    padding:0px 0px ;
    text-align: center;
    border:none;
    border-radius:4px;
    margin-bottom:50px;
}
.task-input{
    border:none;
    padding: 4px 10px;
    font-size: 16px;
    background-color: #FFF8D4;
}
.task-input:focus{
    outline:none;
}
.add-button{
    
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    color: #fff;
    background-color: #313647;
    cursor: pointer;
}
.task-list{
    padding:10px;
    height:60vh;
    overflow-y: scroll;
}