.body{
    margin:0;
    padding:0;
    background-color: #90AB8B;
    box-sizing: border-box;
}
.app-heading{
    text-align:center;
    color:#3B4953;
    margin-top:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.app-subheading{
    text-align:center;
    color:#5A7863;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.highlighted-text{
    font-weight: bold;
    color: #3B4953;
}
.task-list{
    margin-top: 30px;
    padding:10px;
    height:60vh;
    overflow-y:scroll;

}
.input-section{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
