.body{
    margin:0;
    padding:0;
    background-color: #90AB8B;
}
.home-container{
    text-align: center;
}
.app-heading{
    text-align:center;
    color:#3B4953;
    margin-top:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.app-subheading{
    text-align:center;
    color:#5A7863;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.highlighted-text{
    font-weight: bold;
    color: #3B4953;
}

